# Dependency directories
node_modules/

# SECRETS (Environment variables & Tokens)
.env
.env.local
.env.*
.npmrc

# Build outputs
dist/
dist-ssr/
build/
*.js
!jest.config.js
!next.config.js

# Logs
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
API-*.log

# Editor directories and OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?